/* main_menu */
.Header-menu {
  color: #FFF;
  background-color: rgb(var(--color-primary));

  .container {
    position: relative;

    &>i {
      display: none;
    }
  }

  .Header-right {
    display: none;
  }

  ul {
    display: flex;

    li {
      &:hover {
        background-color: rgb(var(--color-lighten10));

        &>ul {
          opacity: 1;
          visibility: visible;
          top: 54px;

          li {
            ul {
              left: 200px;
              top: 20px;
            }

            &:hover ul {
              top: 0;
            }
          }
        }
      }

      a {
        display: block;
        padding: 15px 20px;
        text-align: center;
        color: #FFF;
        font-size: 0.8em;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }
      }

      ul {
        top: 60px;
        position: absolute;
        flex-direction: column;
        z-index: 300;
        max-width: 400px;
        min-width: 200px;
        opacity: 0;
        visibility: hidden;
        transition: .2s all ease;
        background-color: rgb(var(--color-primary));

        li {
          a {
            padding: 10px 20px;
            text-align: left;
          }

          &:hover {
            background-color: rgb(var(--color-lighten10));
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Header-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: -80%;
    width: 80%;
    height: 100vh;
    z-index: 302;
    transition: .3s all ease;
    background: none;

    .container {
      background: rgb(var(--color-primary));
      height: 100vh;
      overflow-y: hidden;
    }

    .Header-right {
      display: flex;
      padding-left: 25px;
      margin-top: 0;
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      z-index: 1;
      background: rgba(0,0,0,.5);
    }

    &.active {
      opacity: 1;
      visibility: visible;
      left: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      position: relative;
      z-index: 2;
      padding: 0;

      &>i {
        display: block;
        color: #fff;
        font-size: 2em;
        margin: 20px;
      }
    }

    ul {
      flex-direction: column;
      padding: 15px 0;
      flex-wrap: nowrap;
      overflow-y: auto;

      li {
        &:hover {
          background: none;
        }

        a {
          color: #777;
          font-size: .9em;
          border-bottom: 1px solid rgba(255,255,255,.1);
          font-weight: 500;
          text-transform: capitalize;
          padding: 10px 25px;
          text-align: left;

          &:hover {
            background-color: transparent;
            color: #000;
          }
        }

        ul {
          position: static;
          display: none;
          opacity: 1;
          visibility: visible;
          background: rgb(var(--color));
          padding: 0;

          li {
            &:hover {
              background: none;
            }

            a {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}

.Header-menu--tab {
  background: none;
  border-bottom: 2px solid #ddd;

  .container {
    &>ul>li {
      border-bottom: 2px solid transparent;
      position: relative;
      top: 2px;
      transition: .3s all ease;

      &:hover {
        background: none;
        border-bottom: 2px solid #333;

        &>ul {
          top: 56px;
        }

        &>a {
          color: #333;
        }
      }

      ul {
        background: #fff;

        li {
          &:hover {
            background: #f9f9f9;
          }

          a {
            color: #777;
          }
        }
      }

      a {
        color: #777;
      }
    }
  }
}

/* top_menu */
.top_menu{
  float: left;
  max-width: 75%;
  overflow: hidden;
  height: 2em;
}
@media only screen and (max-width: 980px) {
  .container_responsive .top_menu{
    display: none;
  }
}
.top_menu ul li{
  float: left;  
  position: relative;
}
.top_menu ul li a{
  display: block;
  padding: 0.5em 0.7em; 
  text-align: center;
  font-size: 0.9em;
}
.top_menu ul li a:hover{
  text-decoration: underline;
}
.top_menu ul li ul{
  display: none;
}

/* user_menu */
.user_menu {
  display: none;
  margin-left: auto;

  ul {
    display: flex;

    li {
      font-size: 0.75em;
      font-weight: 600;
      margin-left: 20px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
  }
}

.member_nav_mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .member_nav_mobile {
    display: block;
  }

  .member_nav {
    display: none;
  }
}