.Header-menu,
.Cart-icon .dy_cart_prd_count,
.pagination .page-item.active .page-link,
.alert-orange,
.btn-orange,
.Carousel .slick-dots li.slick-active,
.order_steps .ord_step_selected .ord_step_number,
.member_nav a.active,
.Product .list_number {
  background-color: #1976d2;
}

.Header-menu ul li ul {
  background-color: #2e8ae6;
}

.breadcrumb .breadcrumb-item.active a,
.pagination .page-item .page-link,
.prd_view h1.contentHeader,
.letter_bar .letter_items a.dy_selected {
  color: #1976d2;
}

.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(25,118,210,.25);
}

.pagination .page-item.active .page-link,
.btn-orange,
.member_nav a.active,
.Carousel .slick-dots li.slick-active {
  border-color: #1976d2;
}

.btn-orange:hover, .btn-orange:focus {
  background-color: #176ec4;
  border-color: #176ec4;
}

.btn-orange:focus,
.btn-orange:not(:disabled):not(.disabled).active:focus,
.btn-orange:not(:disabled):not(.disabled):active:focus,
.show>.btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(25,118,210,.5);
}

.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show>.btn-orange.dropdown-toggle {
  background-color: #1667b7;
  border-color: #1667b7;
}

.loading div {
  border: 2px solid #1976d2;
  border-color: #1976d2 transparent transparent transparent;
}

.tabs_view .nav a.active {
  border-bottom: 2px solid #1976d2;
}

.order_steps .ord_step_number {
  background-color: #64a9ed;
}

.Header-menu ul li:hover {
  background-color: #378fe7;
}

.Header-menu ul li ul li:hover {
  background-color: #378fe7;
}

@media screen and (max-width: 768px) {
  .Header-menu .container {
    background-color: #1976d2;
  }
}