// colors
$color_black: #000;
$color_gray: #343a40;
$color_gray2: #777;
$color_orange: #FF3D00;
$color_white: #FFF;
$color_white2: #F5F5F5;
$color_white3: #F9F9F9;
$color_white4: #EEE;
$color_red: #ff1744;
$color_pink: #f50057;
$color_purple: #6a1b9a;
$color_yellow: #ffd740;