/* main_menu */
/* line 4, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu {
  background-color: #FF3D00;
  color: #FFF;
}

/* line 8, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu .container {
  position: relative;
}

/* line 11, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu .container > i {
  display: none;
}

/* line 16, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul {
  display: flex;
}

/* line 20, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li:hover {
  background-color: #ff6433;
}

/* line 23, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 54px;
}

/* line 30, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}

/* line 39, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li a:hover {
  text-decoration: none;
}

/* line 44, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li ul {
  top: 60px;
  position: absolute;
  flex-direction: column;
  z-index: 300;
  max-width: 400px;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: .2s all ease;
  background-color: #FF3D00;
}

/* line 57, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li ul li a {
  padding: 10px;
}

/* line 61, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu ul li ul li:hover {
  background-color: #ff6433;
}

@media screen and (max-width: 768px) {
  /* line 71, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 302;
  }
  /* line 82, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu.active {
    opacity: 1;
    visibility: visible;
  }
  /* line 87, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu .container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  /* line 92, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu .container > i {
    display: block;
    color: #000;
    font-size: 2em;
    margin: 0 auto;
  }
  /* line 100, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu ul {
    flex-direction: column;
    padding: 20px 0;
  }
  /* line 105, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu ul li:hover {
    background: none;
  }
  /* line 109, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu ul li a {
    color: #777;
    font-size: 1em;
  }
  /* line 113, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu ul li a:hover {
    background-color: transparent;
    color: #000;
  }
  /* line 119, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu ul li ul {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    background: #eee;
    padding: 0;
  }
  /* line 127, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .Header-menu ul li ul li:hover {
    background: none;
  }
}

/* line 136, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab {
  background: none;
  border-bottom: 2px solid #ddd;
}

/* line 141, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li {
  border-bottom: 2px solid transparent;
  position: relative;
  top: 2px;
  transition: .3s all ease;
}

/* line 147, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li:hover {
  background: none;
  border-bottom: 2px solid #333;
}

/* line 151, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li:hover > ul {
  top: 56px;
}

/* line 155, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li:hover > a {
  color: #333;
}

/* line 160, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li ul {
  background: #fff;
}

/* line 164, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li ul li:hover {
  background: #f9f9f9;
}

/* line 168, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li ul li a {
  color: #777;
}

/* line 174, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.Header-menu--tab .container > ul > li a {
  color: #777;
}

/* top_menu */
/* line 182, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.top_menu {
  float: left;
  max-width: 75%;
  overflow: hidden;
  height: 2em;
}

@media only screen and (max-width: 980px) {
  /* line 189, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
  .container_responsive .top_menu {
    display: none;
  }
}

/* line 193, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.top_menu ul li {
  float: left;
  position: relative;
}

/* line 197, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.top_menu ul li a {
  display: block;
  padding: 0.5em 0.7em;
  text-align: center;
  font-size: 0.9em;
}

/* line 203, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.top_menu ul li a:hover {
  text-decoration: underline;
}

/* line 206, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.top_menu ul li ul {
  display: none;
}

/* user_menu */
/* line 211, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.user_menu {
  margin-left: auto;
}

/* line 214, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.user_menu ul {
  display: flex;
}

/* line 217, ../kanmazteknoloji/temalar/tema1/scss/menu.scss */
.user_menu ul li {
  font-size: 0.75em;
  font-weight: 600;
  margin-left: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=menu.css.map */