/* line 3, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.letter_bar {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}

/* line 9, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.letter_bar form {
  display: flex;
  align-items: center;
}

/* line 15, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.letter_bar .letter_items a {
  margin-right: 5px;
}

/* line 20, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.letter_bar .form_items {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* line 25, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.letter_bar .form_items .form-group {
  margin-bottom: 0;
  margin-right: 5px;
}

/* line 33, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

/* line 39, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
}

/* line 44, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card h3 {
  margin-bottom: 0;
}

/* line 48, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .card-body {
  flex-shrink: 0;
  flex-grow: 0;
}

/* line 52, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .card-body:nth-of-type(2) {
  margin-top: auto;
  text-align: right;
}

/* line 59, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .list-group-item {
  background-color: transparent;
  border: 0;
}

/* line 63, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .list-group-item:hover {
  background-color: #F9F9F9;
  cursor: pointer;
}

/* line 68, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .list-group-item a {
  font-size: .9em;
  color: #777;
  transition: .3s all ease;
}

/* line 73, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .list-group-item a:hover {
  color: #333;
}

/* line 79, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_list .card .list-group .badge {
  margin-left: 5px;
}

/* line 86, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* line 91, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_items .pub_item {
  width: 100%;
  background-color: #F9F9F9;
  padding: 5px;
  border-radius: 3px;
}

/* line 97, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_items .pub_item .badge {
  margin-left: 5px;
}

/* line 101, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
.pub_items .pub_item a {
  padding: 0.3em 0.3em;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  /* line 109, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
  .pub_list_wrapper {
    grid-template-columns: 1fr;
  }
  /* line 113, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
  .pub_items {
    grid-template-columns: 1fr;
  }
  /* line 118, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
  .letter_bar form {
    flex-direction: column;
  }
  /* line 122, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
  .letter_bar .letter_items {
    text-align: center;
  }
  /* line 126, ../kanmazteknoloji/temalar/tema1/scss/publishers.scss */
  .letter_bar .form_items {
    margin-left: 0;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=publishers.css.map */