.Header-menu,
.Cart-icon .dy_cart_prd_count,
.pagination .page-item.active .page-link,
.alert-orange,
.btn-orange,
.Carousel .slick-dots li.slick-active,
.order_steps .ord_step_selected .ord_step_number,
.member_nav a.active,
.Header-menu ul li ul {
	background-color: #e91e63;
}

.breadcrumb .breadcrumb-item.active a,
.pagination .page-item .page-link,
.prd_view h1.contentHeader {
  color: #e91e63;
}

.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(233,30,99,.25);
}

.pagination .page-item.active .page-link,
.btn-orange,
.member_nav a.active,
.Carousel .slick-dots li.slick-active {
  border-color: #e91e63;
}

.btn-orange:hover, .btn-orange:focus {
  background-color: #e2165b;
  border-color: #e2165b;
}

.btn-orange:focus,
.btn-orange:not(:disabled):not(.disabled).active:focus,
.btn-orange:not(:disabled):not(.disabled):active:focus,
.show>.btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(233,30,99,.5);
}

.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show>.btn-orange.dropdown-toggle {
  background-color: #d41556;
  border-color: #d41556;
}

.loading div {
  border: 2px solid #e91e63;
  border-color: #e91e63 transparent transparent transparent;
}

.tabs_view .nav a.active {
  border-bottom: 2px solid #e91e63;
}

.order_steps .ord_step_number {
  background-color: #f27ba3;
}

.Header-menu ul li:hover {
  background-color: #ee4c83;
}

.Header-menu ul li ul li:hover {
  background-color: #ee4c83;
}